body {
    margin: 0;
    padding: 0;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Noto Serif', serif;
    font-size: small;
}

@font-face {
    font-family: "Monotype Corsiva";
    src: url("../fonts/8209.ttf");
}

#container {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}
#header {
    height: 100px;
    margin-top: 100px;
}
#picture {
    float: right;
    padding: 50px;
}
#main1 {
    #background-color: cadetblue;
    height: auto;
    #background-color: rgba(0, 120, 201, 0.7);
}
#content {
    padding: 20px 100px 40px 100px ;
    border-radius: 25px;
    background-image: url('../images/content.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    min-height: 400px;


}

#footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#name {
    padding: 30px;
    font-family: "Monotype Corsiva";
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    color: chocolate;

}

#footer #character{
    float: left;
    padding-top: 10px;
    padding-right: 40px;
}

#footer #quote {
    padding: 40px;
}

#menu {
    padding-top: 50px;
    float: right;
}

#menu ul li {
    display: block;
    float: left;

}
#menu ul li a {
    display: block;
    text-decoration: none;
    color: black;
    width: 85px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    background-color: lightblue;
}



#menu ul li a:visited {
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: #88a8ff;
}

#menu ul li a:active {
    text-decoration: none;
}

#nav .active {
    background-color: #88a8ff;
}

#characters {
    border-width: 0;
    border-collapse: collapse;

}

#characters th {
    border-bottom: 2px solid black;
}

#characters td {
    text-align: left;
}
.form-label {
    display: block;
}
.input-div {
    margin-top: 6px;
}

.input-div input[type=text] {
    width: 300px;
    height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius: 5px;
}

.input-div select {
    width: 300px;
    height: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius: 5px;
}

.input-div textarea {
    width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius: 5px;
    height: 70px;
}

form button {
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius: 5px;
}